<div class='panel panel-default'>
  <div class="panel-heading">Astuces</div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li>Choisir "tous les mots" pour prendre en compte tous les critères.
     </li>

     <li>Choisir "l'un des mots" pour trouver au moins l'un des critères.
     </li>

     <li>Combiner mots-clés et catégories pour trouver des réponses précises.
     </li>

     <li>Utiliser les guillemets pour trouver un terme précis ou une expression exacte. </br>
	 Exemple : "droit constitutionnel"
	 </li>

     <li>Ajouter un "+" devant un mot pour le rendre obligatoire (sinon vous pourriez obtenir des résultats qui n'incluent que certains termes de votre recherche).</li>

     <li>Ajouter un "-" devant un mot ou une expression pour l'exclure des résultats de votre recherche. </br>
	 Exemple : rouge et noir -stendhal
	 </li>

     <li>Placer "OR", "AND", and "NOT" (en majuscule) entre les mots pour créer des requêtes. On peut aussi utiliser les parenthèses pour construire des requêtes complexes.</br>
	Exemple : (mathématiques OR statistiques) AND dunod
	 </li>
     <li>Troncature et substitut (* par exemple) ne sont pas reconnus, les mots et leur racine sont automatiquement indexés.</li>
   </ul>
  </div>
</div>
