<% # container for a single doc -%>
<div id="<%= render_index_field_value :document => document, :field => 'ean_t' %>" class="document document-index <%= render_document_class document %>" itemscope itemtype="<%= document.itemtype %>" >
  <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, :document_counter => document_counter %>
</div>
