body{
  font-size: 0.8em;
}

/* Style d'impression général */
.navbar,
.application-heading,
#sidebar,
#previousNextDocument,
.main-flashes {
display : none;
}


/* Style d'impression pour le compte lecteur */
#compte-lecteur .navbar, 
#compte-lecteur a, 
#compte-lecteur h1,
#prets, #prets + table, #prets +span,
#communications, #communications + table, #communications + span,
#reservations, #reservations + table, #reservations + span
{
  display: none;
}

#compte-lecteur span{
  display: block;
  margin-top:10px;
  font-weight: bold;
}
#compte-lecteur p{
  display: inline;
  margin-left: 5px;
}
